# Configuration file

##########################################################################################################
# data
#--------------------------------------------------------------------------------------------------------#
# Defines random ore-selection data. Items with higher weight are more likely to be selected overall. Format: <oreDictionaryName>;<integerWeight>
##########################################################################################################

data {
    #  [default: [Ljava.lang.String;@49d72445]
    S:data <
     >
}


