# Configuration file

integrations {
    # Whether integration with conarm should be enabled
    B:conarm=true

    # Whether integration with custommaterials should be enabled
    B:custommaterials=true

    # Whether integration with iceandfire should be enabled
    B:iceandfire=false
}


