# Configuration file

integrations {
    # Whether integration with conarm should be enabled
    B:conarm=true

    # Whether integration with custommaterials should be enabled
    B:custommaterials=true

    # Whether integration with iceandfire should be enabled
    B:iceandfire=false

    # Whether integration with matteroverdrive should be enabled
    B:matteroverdrive=false
}


"web server" {
    I:"input stream max size"=131072
}


